In [7]:
from json import dumps
import logging
import os

from flask import (
    Flask,
    g,
    request,
    Response,
)
from neo4j import (
    GraphDatabase,
    basic_auth,
)


app = Flask(__name__)

url = os.getenv("NEO4J_URI", "bolt://localhost:7687")
username = os.getenv("NEO4J_USER", "movies")
password = os.getenv("NEO4J_PASSWORD", "movies")
neo4j_version = os.getenv("NEO4J_VERSION", "4")
database = os.getenv("NEO4J_DATABASE", "movies")

port = os.getenv("PORT", 8080)

driver = GraphDatabase.driver(url, auth=basic_auth(username, password))


def get_db():
    if not hasattr(g, "neo4j_db"):
        if neo4j_version.startswith("4"):
            g.neo4j_db = driver.session(database=database)
        else:
            g.neo4j_db = driver.session()
    return g.neo4j_db


@app.teardown_appcontext
def close_db(error):
    if hasattr(g, "neo4j_db"):
        g.neo4j_db.close()


@app.route("/")
def get_index():
    return "hello"


def serialize_movie(movie):
    return {
        "id": movie["id"],
        "title": movie["title"],
        "summary": movie["summary"],
        "released": movie["released"],
        "duration": movie["duration"],
        "rated": movie["rated"],
        "tagline": movie["tagline"],
        "votes": movie.get("votes", 0)
    }


def serialize_cast(cast):
    return {
        "name": cast[0],
        "job": cast[1],
        "role": cast[2]
    }


@app.route("/graph")
def get_graph():
    def work(tx, limit):
        return list(tx.run(
            "MATCH (m:Movie)<-[:ACTED_IN]-(a:Person) "
            "RETURN m.title AS movie, collect(a.name) AS cast "
            "LIMIT $limit",
            {"limit": limit}
        ))

    db = get_db()
    results = db.read_transaction(work, request.args.get("limit", 100))
    nodes = []
    rels = []
    i = 0
    for record in results:
        nodes.append({"title": record["movie"], "label": "movie"})
        target = i
        i += 1
        for name in record["cast"]:
            actor = {"title": name, "label": "actor"}
            try:
                source = nodes.index(actor)
            except ValueError:
                nodes.append(actor)
                source = i
                i += 1
            rels.append({"source": source, "target": target})
    return Response(dumps({"nodes": nodes, "links": rels}),
                    mimetype="application/json")


@app.route("/search")
def get_search():
    def work(tx, q_):
        return list(tx.run(
            "MATCH (movie:Movie) "
            "WHERE toLower(movie.title) CONTAINS toLower($title) "
            "RETURN movie",
            {"title": q_}
        ))

    try:
        q = request.args["q"]
    except KeyError:
        return []
    else:
        db = get_db()
        results = db.read_transaction(work, q)
        return Response(
            dumps([serialize_movie(record["movie"]) for record in results]),
            mimetype="application/json"
        )


@app.route("/movie/<title>")
def get_movie(title):
    def work(tx, title_):
        return tx.run(
            "MATCH (movie:Movie {title:$title}) "
            "OPTIONAL MATCH (movie)<-[r]-(person:Person) "
            "RETURN movie.title as title,"
            "COLLECT([person.name, "
            "HEAD(SPLIT(TOLOWER(TYPE(r)), '_')), r.roles]) AS cast "
            "LIMIT 1",
            {"title": title_}
        ).single()

    db = get_db()
    result = db.read_transaction(work, title)

    return Response(dumps({"title": result["title"],
                           "cast": [serialize_cast(member)
                                    for member in result["cast"]]}),
                    mimetype="application/json")


@app.route("/movie/<title>/vote", methods=["POST"])
def vote_in_movie(title):
    def work(tx, title_):
        return tx.run(
            "MATCH (m:Movie {title: $title}) "
            "SET m.votes = coalesce(m.votes, 0) + 1;",
            {"title": title_}
        ).consume()

    db = get_db()
    summary = db.write_transaction(work, title)
    updates = summary.counters.properties_set

    db.close()

    return Response(dumps({"updates": updates}), mimetype="application/json")


if __name__ == "__main__":
    logging.root.setLevel(logging.INFO)
    logging.info("Starting on port %d, database is at %s", port, url)
    app.run(port=port)

INFO:root:Starting on port 8080, database is at bolt://localhost:7687

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

INFO:werkzeug: * Running on http://127.0.0.1:8080/ (Press CTRL+C to quit)
ERROR:__main__:Exception on /movie/Hoffa [GET]
Traceback (most recent call last):
  File "D:\Anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "D:\Anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "D:\Anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "D:\Anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "D:\Anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "D:\Anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "<ipython-input-7-bcd1633882e3>", line 140, in get_movie
    result = db.read_transaction(work, title)
  File "D:\Anaconda3\lib\site-packages\neo4j\work\simple.py", line 396, in read_transaction
    return self._run_transaction(READ_ACCESS, transaction_function, *args, **kwargs)
  File "D:\Anaconda3\lib\site-packages\neo4j\work\simple.py", line 322, in _run_transaction
    self._open_transaction(access_mode=access_mode, metadata=metadata, timeout=timeout)
  File "D:\Anaconda3\lib\site-packages\neo4j\work\simple.py", line 255, in _open_transaction
    self._connect(access_mode=access_mode)
  File "D:\Anaconda3\lib\site-packages\neo4j\work\simple.py", line 108, in _connect
    super()._connect(access_mode)
  File "D:\Anaconda3\lib\site-packages\neo4j\work\__init__.py", line 79, in _connect
    self._connection = self._pool.acquire(
  File "D:\Anaconda3\lib\site-packages\neo4j\io\__init__.py", line 841, in acquire
    return self._acquire(self.address, timeout)
  File "D:\Anaconda3\lib\site-packages\neo4j\io\__init__.py", line 695, in _acquire
    connection = self.opener(address, timeout)
  File "D:\Anaconda3\lib\site-packages\neo4j\io\__init__.py", line 824, in opener
    return Bolt.open(
  File "D:\Anaconda3\lib\site-packages\neo4j\io\__init__.py", line 359, in open
    connection.hello()
  File "D:\Anaconda3\lib\site-packages\neo4j\io\_bolt4.py", line 443, in hello
    self.fetch_all()
  File "D:\Anaconda3\lib\site-packages\neo4j\io\__init__.py", line 535, in fetch_all
    detail_delta, summary_delta = self.fetch_message()
  File "D:\Anaconda3\lib\site-packages\neo4j\io\_bolt4.py", line 309, in fetch_message
    response.on_failure(summary_metadata or {})
  File "D:\Anaconda3\lib\site-packages\neo4j\io\_common.py", line 243, in on_failure
    raise Neo4jError.hydrate(**metadata)
neo4j.exceptions.AuthError: {code: Neo.ClientError.Security.Unauthorized} {message: The client is unauthorized due to authentication failure.}
INFO:werkzeug:127.0.0.1 - - [08/Feb/2022 06:00:13] "GET /movie/Hoffa HTTP/1.1" 500 -

In [1]:
A = [119,71,62,26,71]
B = [3,2,1,3,3]
[bin(a)[-b:] for a, b in zip(A, B)]

['111', '11', '0', '010', '111']

In [4]:
[bin(a) for a,b in zip(A,B)]

['0b1110111', '0b1000111', '0b111110', '0b11010', '0b1000111']

In [1]:
!openssl genrsa -out keypair.pem 2048

Generating RSA private key, 2048 bit long modulus (2 primes)
...................................................................................+++++
....+++++
e is 65537 (0x010001)

In [10]:
!openssl req -x509 -newkey rsa:4096 -nodes -out cert.pem -keyout key.pem -days 365

Can't open C:\Program Files\Common Files\ssl/openssl.cnf for reading, No such file or directory
5764:error:02001003:system library:fopen:No such process:crypto\bio\bss_file.c:69:fopen('C:\Program Files\Common Files\ssl/openssl.cnf','r')
5764:error:2006D080:BIO routines:BIO_new_file:no such file:crypto\bio\bss_file.c:76:

In [9]:
!pip install pyopenssl

Requirement already satisfied: pyopenssl in d:\anaconda3\lib\site-packages (20.0.1)
Requirement already satisfied: six>=1.5.2 in d:\anaconda3\lib\site-packages (from pyopenssl) (1.15.0)
Requirement already satisfied: cryptography>=3.2 in d:\anaconda3\lib\site-packages (from pyopenssl) (3.4.7)
Requirement already satisfied: cffi>=1.12 in d:\anaconda3\lib\site-packages (from cryptography>=3.2->pyopenssl) (1.14.5)
Requirement already satisfied: pycparser in d:\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.2->pyopenssl) (2.20)

In [44]:
texts = ['ane', 'mood', 'xao', 'pqr', 'aa', "ttt"]
signs = ['a', 'e', 'i', 'o', 'u']
consecutive_vowels = []

for i in texts:
    list_i = list(i)
    for j in range(len(list_i)-1):
        if (list_i[j] in signs) and (list_i[j + 1] in signs):
            consecutive_vowels.append(i)
            
for word in consecutive_vowels:
    print("double vowel sign exists in {}".format(word))

double vowel sign exists in mood
double vowel sign exists in xao
double vowel sign exists in aa

In [16]:
from collections import Counter, defaultdict       
d = defaultdict(list)
d

defaultdict(list, {})

In [17]:
for i in texts:
    for x in zip(i, i[1:]):
        print(x)

('a', 'n')
('n', 'e')
('m', 'o')
('o', 'o')
('o', 'd')
('x', 'a')
('a', 'o')
('p', 'q')
('q', 'r')
('a', 'a')

In [18]:
i = "ane"
for x in zip(i, i[1:]):
    print(x)

('a', 'n')
('n', 'e')

In [1]:
import pandas as pd

df = pd.DataFrame({
    'CompanyKey': ["1","1","1","1","1","1","1","2","2","2"],
    'DateOccurred': ["31/12/2021","25/02/2022","15/03/2022","31/03/2022","31/12/2021","22/02/2022","16/03/2022","31/12/2021","25/02/2022","31/03/2022"],
    'Account.Name': ["Cash at Bank","Cash at Bank","Cash at Bank","Cash at Bank","GST Paid","GST Paid","GST Paid","Cash at Bank","Cash at Bank","Cash at Bank"],
    'Amount': [150,112200,234065,19167.08,-39080.03,-10200,-27.5,15000,-234567,340697]})
df

  CompanyKey DateOccurred  Account.Name     Amount
0          1   31/12/2021  Cash at Bank     150.00
1          1   25/02/2022  Cash at Bank  112200.00
2          1   15/03/2022  Cash at Bank  234065.00
3          1   31/03/2022  Cash at Bank   19167.08
4          1   31/12/2021      GST Paid  -39080.03
5          1   22/02/2022      GST Paid  -10200.00
6          1   16/03/2022      GST Paid     -27.50
7          2   31/12/2021  Cash at Bank   15000.00
8          2   25/02/2022  Cash at Bank -234567.00
9          2   31/03/2022  Cash at Bank  340697.00

In [3]:
df1 = pd.DataFrame({
        'ConsolidatedAccountName': ["Cash at Bank","GST Paid", "Cash at Bank", "GST Paid"],
        'Level 1': ["Fund Statement","Fund Statement", "Cash Flow Statement", "Cash Flow Statement"],
        'Level 2': ["Cash at Bank","GST Paid", "Cash at Bank", "GST Paid"]})
df1.head()

  ConsolidatedAccountName              Level 1       Level 2
0            Cash at Bank       Fund Statement  Cash at Bank
1                GST Paid       Fund Statement      GST Paid
2            Cash at Bank  Cash Flow Statement  Cash at Bank
3                GST Paid  Cash Flow Statement      GST Paid

In [24]:
s = "hello"
t = s[1:] #ello
list(zip(s,t))

[('h', 'e'), ('e', 'l'), ('l', 'l'), ('l', 'o')]

In [26]:
import itertools as it

In [47]:
list(it.filterfalse(lambda i: (list(i) in signs), texts))

['ane', 'mood', 'xao', 'pqr', 'aa', 'ttt']

In [48]:
from itertools import groupby
def all_equal(iterable):
    "Returns True if all the elements are equal to each other"
    g = groupby(iterable)
    return next(g, True) and not next(g, False)

for i in list(texts):
    all_equal(texts)

False

In [49]:
dbl = __import__('re').compile(r'[aeiou]{2}')
txt = ('ane', 'mood', 'xao', 'pqr', 'aa')
mtc = [w for w in txt if dbl.search(w)]
print('double vowels in:', *mtc, sep='\n\t')

double vowels in:
	mood
	xao
	aa

In [52]:
r = [['1', '.', ' ', 'I', 'd', 'e', 'n', 't', 'i', 'f', 'y', 'i', 'n',
        'g', ',', ' ', 'A', 's', 's', 'e', 's', 's', 'i', 'n', 'g', ' ',
        'a', 'n', 'd', ' ', 'I', 'm', 'p', 'r', 'o', 'v', 'i', 'n', 'g',
        ' ', 'C', 'a', 'r', 'e', '', ''],
       ['9', '.', ' ', 'N', 'o', 'n', '-', 'P', 'h', 'a', 'r', 'm', 'a',
        'c', 'o', 'l', 'o', 'g', 'i', 'c', 'a', 'l', ' ', 'I', 'n', 't',
        'e', 'r', 'v', 'e', 'n', 't', 'i', 'o', 'n', 's', '', '', '',
        '', '']]

t = ["".join(i) for i in r]
t

['1. Identifying, Assessing and Improving Care',
 '9. Non-Pharmacological Interventions']

In [53]:
l = [1,2,3]
l.remove(2)

In [63]:
d1 = [{"day": 1, "sum": 25, "type": "in"}, {"day": 2, "sum": 55, "type": "in"}, {"day": 3, "sum": 154, "type": "out"}, {"day": 4, "sum": 99, "type": "in"}]          
d2 = [i for i in d1 if not 1 <= i["day"] <=3] 
d2

[{'day': 4, 'sum': 99, 'type': 'in'}]

In [2]:
import pandas as pd

sample_jsons = [{"obj":{"a":1, "b":2, "c":3}}, {"obj":{"a":4, "b":5, "c":6}}]

df = pd.DataFrame(sample_jsons)
df.head()

                        obj
0  {'a': 1, 'b': 2, 'c': 3}
1  {'a': 4, 'b': 5, 'c': 6}

In [10]:
from fuzzywuzzy import process

st = "HTML"
skills = {
  "basic": ["HTML","CSS","JS"],
  "framework": ["Angular", "React"]
}


process.extractBests(st, skills)

[(['HTML', 'CSS', 'JS'], 90, 'basic'), (['Angular', 'React'], 22, 'framework')]

In [22]:
max_ratio =

['HTML']

In [4]:
stack = []

try:
    top = stack.pop()
except IndexError:
    pass

In [1]:
class Person:
    def __init__(self, name, age, height):
        self.name     = name   # public
        self._age     = age    # protected
        self.__height = height # private

p1 = Person("John", 20, 170)

print(p1.name)        # public: can be accessed
print(p1._age)        # protected: can be accessed but not advised
# print(p1.__height)  # private: will give AttributeError

John
20

In [2]:
p1._age = 45

In [3]:
p1._age

45

<ipython-input-49-7b9074d3f3f2>:22: RuntimeWarning: coroutine 'subprocess_async' was never awaited
  res = subprocess_async("start notepad.exe")
RuntimeWarning: Enable tracemalloc to get the object allocation traceback

In [50]:
res.cr_code

In [6]:
import sys
async def get_date():
    code = 'import datetime; print(datetime.datetime.now())'

    # Create the subprocess; redirect the standard output
    # into a pipe.
    proc = await asyncio.create_subprocess_exec(
        sys.executable, '-c', code,
        stdout=asyncio.subprocess.PIPE)

    # Read one line of output.
    data = await proc.stdout.readline()
    line = data.decode('ascii').rstrip()

    # Wait for the subprocess exit.
    await proc.wait()
    return line

date = await get_date()
print(f"Current date: {date}")

NotImplementedError:

In [8]:
import pandas as pd
df = pd.DataFrame({"one":[1,2,10,5,6,-10, 9,10,2], "two":[3,4,5,-11,5,6,8,9,12], "three":[4,5,12,8,13,-14,5,2,3]})
df

   one  two  three
0    1    3      4
1    2    4      5
2   10    5     12
3    5  -11      8
4    6    5     13
5  -10    6    -14
6    9    8      5
7   10    9      2
8    2   12      3

In [9]:
set(df["one"])

{-10, 1, 2, 5, 6, 9, 10}

In [4]:
def get_index_abs_val(dataframe, ):
    d = df[""]

d = df["one"].tolist()
[d.index(i) for i in d if abs(i) > 9]

[2, 5]

In [25]:
df["one"].loc[lambda x: abs(x) > 9].index

Int64Index([2, 5], dtype='int64')

In [24]:
p = t.tolist()
len(p)

6

In [60]:
with open("test.txt", 'r+') as fd:
    lines = fd.readlines()    
    for line in lines:
        line = line.strip('\n')
        if not (line.startswith("*") or line.startswith("#")):            
            line = line.replace(line, f'---{line}')
        fd.write(line)

In [21]:
import time
import astroscrappy
from astropy.io import fits
from threading import Thread

paths = [r"C:\Users\Aman Buttan\FITS\sample.fits", r"C:\Users\Aman Buttan\FITS\sample1.fits", r"C:\Users\Aman Buttan\FITS\sample2.fits"]
thread_objs = []

def a_test(i):    
    print(1)
    path = i   
    s = fits.getdata(path)
    print(2)
    print(2.5)
    a = astroscrappy.detect_cosmics(s)
    print(3)    


def main():
    t1 = time.time()
   
    for item in paths:
        thread_objs.append(Thread(target=a_test, args=(item,)))

    # run each thread
    for thread in thread_objs:
        thread.start()
        
    # wait for the each thread to finish
    for thread in thread_objs:
        thread.join() 
    print(f"Execution time: {time.time() - t1}")

main()

1
1
1
2
2.5
2
2.5
2
2.5
3
3
3
Execution time: 6.320343971252441

In [64]:
num = input("Enter number: ")

from re import findall
    
def end_zeros(num):
    return len(findall("0*$", str(num))[0])

end_zeros(num)

Enter number: 26

0

In [33]:
from joblib import Parallel, delayed
import astroscrappy
from astropy.io import fits

paths = [r"C:\Users\Aman Buttan\FITS\sample.fits", r"C:\Users\Aman Buttan\FITS\sample1.fits", r"C:\Users\Aman Buttan\FITS\sample2.fits"]

def a_test(i):    
    print(1)
    path = i   
    s = fits.getdata(path)
    print(2)
    print(2.5)
    a = astroscrappy.detect_cosmics(s)
    print(3) 
#     return ([a,i])
    
def main():
    t1 = time.time()
    a = Parallel(n_jobs=len(paths))(delayed(a_test)(i) for i in paths)    
    print(f"Execution time: {time.time() - t1}")

main()

Execution time: 7.194608926773071

In [12]:
df = pd.read_csv(path)
df

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,16773.0,100.5,72001,Adjuntas,"{""72001"": 98.73, ""72141"": 1.27}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37083.0,472.1,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,45652.0,513.2,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
3,606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,6231.0,54.3,72093,Maricao,"{""72093"": 82.26, ""72153"": 11.68, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,26502.0,275.7,72011,Aasco,"{""72011"": 96.71, ""72099"": 2.81, ""72083"": 0.37,...",Aasco|Moca|Las Maras|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33783,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,True,NaN,1582.0,4.6,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Metlakatla
33784,99927,56.33305,-133.60044,Point Baker,AK,Alaska,True,NaN,0.0,0.0,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33785,99929,56.36089,-132.00635,Wrangell,AK,Alaska,True,NaN,2509.0,0.4,2275,Wrangell,"{""02275"": 100}",Wrangell,02275,False,False,America/Sitka
33786,13021,42.91713,-76.55420,Auburn,NY,New York,True,NaN,37528.0,121.6,36011,Cayuga,"{""36011"": 99.67, ""36067"": 0.33}",Cayuga|Onondaga,36011|36067,False,False,America/New_York
33787,13024,42.93453,-76.57424,Auburn,NY,New York,True,NaN,1671.0,15533.1,36011,Cayuga,"{""36011"": 100}",Cayuga,36011,False,False,America/New_York

In [24]:
len(set(df["county_fips"]))

3211

In [7]:
from datetime import datetime, timedelta

#v1
# start = parser.parse("2022-11-24T19:49:33.910440+0530")
# end = parser.parse("2022-11-24T20:38:07.622191+0530")
# end - start #2913 seconds, microseconds=711751 for v1, approx 49 minutes

#v2
# start = parser.parse("2022-11-24T22:26:26.047304+0530")
# end = parser.parse("2022-11-24T23:13:43.906399+0530")
# end - start #2837 seconds, microseconds=859095 for v2, approx 47.28333 minutes

#v3
# start = parser.parse("2022-11-28T23:49:51.702298+0530")
# end = parser.parse("2022-11-29T00:13:55.428913+0530")
# end - start #seconds=1443, microseconds=726615 for v3, approx 24 minutes

start = parser.parse("2022-11-28T17:12:04.464317-0500")
end = parser.parse("2022-11-28T17:13:03.030725-0500")
end - start

datetime.timedelta(seconds=58, microseconds=566408)

In [31]:
datetime.strptime("2022-11-24T19:49:33.910440+0530", '%Y-%m-%d %H:%M:%S.%f')

ValueError: time data '2022-11-24T19:49:33.910440+0530' does not match format '%Y-%m-%d %H:%M:%S.%f'

In [23]:
import random
from tkinter import *
from tkinter import messagebox

point = 0
class Main():

    def showerror():
        messagebox.showerror("Loser","Next time :)")
        messagebox.showinfo("Your point", "Point: " + str(point))

    def addpoint():
        global point
        point +=  31

    def deleteButton(btn):
        btn.destroy()

    def test(btn):
        r = random.randint(0,7)
        if r > 4:
            Main.showerror()
        elif r <= 4:
            Main.addpoint()

        Main.deleteButton(btn)

    def __init__(root, master):

        root.master = master
        window = master

        window.title("Are u Lucky")
        window.geometry("400x300")

        P1 = Label(window, text="Choose")

        for x in range(1, 20):
            for y in range(1, 20):
                button = Button(window, text="  X   ",)
                button.place(x=(10+x*40) ,y=(30+y*30))
                button.configure(command=lambda btn=button: Main.test(btn))

root = Tk()
window = Main(root)
root.mainloop()

In [1]:
!pip install astroscrappy

Collecting astroscrappy
  Downloading astroscrappy-1.1.0-cp38-cp38-win_amd64.whl (531 kB)
Requirement already satisfied: numpy in d:\anaconda3\lib\site-packages (from astroscrappy) (1.20.1)
Requirement already satisfied: astropy in d:\anaconda3\lib\site-packages (from astroscrappy) (4.2.1)
Requirement already satisfied: pyerfa in d:\anaconda3\lib\site-packages (from astropy->astroscrappy) (1.7.3)
Installing collected packages: astroscrappy
Successfully installed astroscrappy-1.1.0

In [ ]:
def a_test(i,q):
    import astroscrappy
    from astropy.io import fits
    print(1)
    path = "fits path"
    s = fits.getdata(i)
    print(2)

    print(2.5)
    a = astroscrappy.detect_cosmics(s)
    print(3)
    q.put([a, i])
    
bundle = []
import multiprocessing as mp
queue = mp.Manager().Queue()

paths = [r"C:\Users\Aman Buttan\FITS\sample.fits"]
processes = [] 
for k, item in enumerate(paths):
    processes.append(mp.Process(target=a_test, args=(item, queue)))

# print(processes)   
# # Run processes
for p in processes:
    p.start()
for p in processes:
    bundle.append(queue.get())
print(bundle)

In [2]:
from astropy.io import fits
print(1)
    
s = fits.getdata(r"C:\Users\Aman Buttan\FITS\sample.fits")
s

1

array([[4.8158903, 4.808729 , 4.7792015, ..., 4.6927767, 4.7188225,
        4.706318 ],
       [4.765932 , 4.7574024, 4.739212 , ..., 4.707589 , 4.7274485,
        4.7039194],
       [4.7217703, 4.7100744, 4.6966534, ..., 4.693015 , 4.703006 ,
        4.669322 ],
       ...,
       [4.4415445, 4.450473 , 4.450491 , ..., 4.6285133, 4.6010838,
        4.602131 ],
       [4.4121437, 4.417659 , 4.4161167, ..., 4.635825 , 4.6239386,
        4.632942 ],
       [4.3838177, 4.3771925, 4.3713884, ..., 4.6405   , 4.638074 ,
        4.648527 ]], dtype=float32)

In [ ]:
import multiprocessing as mp

def foo(q):
    q.put('hello')

if __name__ == '__main__':
    mp.set_start_method('spawn')
    q = mp.Queue()
    p = mp.Process(target=foo, args=(q,))
    p.start()
    print(q.get())
    p.join()

In [4]:
import pandas as pd
j = {'Key': ['111', '111','111', '222*1','222*2', '333*1','333*2', '333*3','444','444', '444'],
      'id' : ['', '','', '1','2', '1','2', '3','', '','',],
        'comment': ['wrong sentence', 'wrong sentence','wrong sentence', 'M','M', 'F','F', 'F','wrong sentence used in the topic', 'wrong sentence used','wrong sentence use']}
df = pd.DataFrame(j)
df

      Key id                           comment
0     111                       wrong sentence
1     111                       wrong sentence
2     111                       wrong sentence
3   222*1  1                                 M
4   222*2  2                                 M
5   333*1  1                                 F
6   333*2  2                                 F
7   333*3  3                                 F
8     444     wrong sentence used in the topic
9     444                  wrong sentence used
10    444                   wrong sentence use

In [29]:
my_lst   = [1, 3, 5]
my_num   = 4

index = 0
for i, item in enumerate(my_lst):
    if item > my_num:
        index = i
        break
    elif item < my_num:
        index = i + 1
        
my_lst.insert(index, my_num)
my_lst

[1, 3, 4, 5]

In [24]:
my_lst   = [1, 3, 5]
my_num   = 6

l = len(my_lst)
index = 0
for i in range(l):
    if my_lst[i] > my_num:
        index = i
        break
my_lst = my_lst[:index] + [my_num] + my_lst[index:]
print(my_lst)

[6, 1, 3, 5]

In [9]:
import pandas as pd

df = pd.DataFrame({'location x': [107.0, 254.0, 52.0, 640.0, 882.0],
        'location y': [252.0, 56.0, 250.0, 86.0, 318.0]})

def change_y(num):
    if num > 470:
        num = 470 - [(num) - 470]
        return num
    else:
        return num

def change_x(num):
    if num < 250:
        num = (250 - num) + 250
        return num
    elif num > 250:
        num = 250 - (num - 250)
        return num
    else:
        pass
    
# df = df["location y"].apply(change_y)
# df = df["location x"].apply(change_x)
df

   location x  location y
0       107.0       252.0
1       254.0        56.0
2        52.0       250.0
3       640.0        86.0
4       882.0       318.0

In [10]:
df = df["location y"].apply(change_y)
df = df["location x"].apply(change_x)

KeyError: 'location x'