__Tuples__

1. Tuples are an immutable collection data type. This means they are write-protected and their contents cannot be changed. They are good to use when you want to store secure protected information in your code.
2. It is also a sequence type, so it supports all common sequence operations.
3. They can store heterogeneous data

In [12]:
tup1 = (1,2)
type(tup1)

tuple

In [14]:
singleton = (1,)
type(singleton)

tuple

In [18]:
tup2 = ("hello", 3, [14,15,16], True)
tup2

('hello', 3, [14, 15, 16], True)

In [26]:
tup2[2].extend([17,18,19])
tup2

('hello', 3, [14, 15, 16, 17, 18, 19], True)

In [48]:
employee_add = (("Sam", "Orlando"), ("Ram", "Bangalore"), ("Vicki", "Zimbabwe"))
employee_add

(('Sam', 'Orlando'), ('Ram', 'Bangalore'), ('Vicki', 'Zimbabwe'))

In [57]:
fruits = (("apples", 2), ("oranges", 3), ("peach", 20))
for index,fruit in enumerate(fruits):
    print(index,fruit)

0 ('apples', 2)
1 ('oranges', 3)
2 ('peach', 20)

In [58]:
l1 = ["hello", "world", 2022, 520]
for index, item in enumerate(l1):
    print(index, item)

0 hello
1 world
2 2022
3 520

In [63]:
l1 = [1,2,3,4, "a", "b", "c", 13.45, 12.22, ("test", 23), 2]
l1

[1, 2, 3, 4, 'a', 'b', 'c', 13.45, 12.22, ('test', 23), 2]

__Sets__

1. A set is an unordered collection with no duplicate elements
2. Mutable : A set itself may be modified, but the elements contained in the set must be of an immutable type.

In [66]:
set1 = {1,2,3,4, "a", "b", "c", 13.45, 12.22, ("test", 23),2}
set1

{('test', 23), 1, 12.22, 13.45, 2, 3, 4, 'a', 'b', 'c'}

In [76]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.union(x2)

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [3]:
x1 | x2

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [77]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.intersection(x2)


x1 & x2

{'baz'}

In [5]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.difference(x2)


x1 - x2

{'bar', 'foo'}

In [6]:
a = {1, 2, 3, 30, 300}
b = {10, 20, 30, 40}
c = {100, 200, 300, 400}

a.difference(b, c)


a - b - c

{1, 2, 3}

In [78]:
x1 = {'foo', 'bar', 'baz'}
x1.issubset({'foo', 'bar', 'baz', 'qux', 'quux'})


# x2 = {'baz', 'qux', 'quux'}
# x1 <= x2

True

In [97]:
s = {'foo', 'bar', 'baz', 'qux', 'quux'}
s.update({1,2,3})
s

{1, 2, 3, 'bar', 'baz', 'foo', 'quux', 'qux'}

In [83]:
s |= {4,5,6}
s

{1, 2, 3, 4, 5, 6, 'bar', 'baz', 'foo', 'quux', 'qux'}

In [91]:
s.discard((15,"hello"))

In [95]:
s.clear()
s

set()

In [98]:
len(s)

8

__Dictionaries__

1. Mapping type which stores key/value pairs
2. keys should be of immutable type while values can be mutable

In [100]:
d1 = {"apples":2, "oranges":20, "peaches":12}
type(d1)

dict

In [103]:
d1.keys()

dict_keys(['apples', 'oranges', 'peaches'])

In [104]:
d1.values()

dict_values([2, 20, 12])

In [110]:
for key, value in d1.items():
    print(key, value)

apples 2
oranges 20
peaches 12

In [88]:
d2 = {"bangalore":(12.456, -90.81), "london":(-13.67, -20.224)}
d2

{'bangalore': (12.456, -90.81), 'london': (-13.67, -20.224)}

In [2]:
d2["london"]

(-13.67, -20.224)

In [89]:
d2["chennai"] = (-90.42, 89.765)
d2

{'bangalore': (12.456, -90.81),
 'london': (-13.67, -20.224),
 'chennai': (-90.42, 89.765)}

In [4]:
d2["chenna"]

KeyError: 'chenna'

In [5]:
d2.get('chenna')

In [6]:
del d2["chennai"]
d2

{'bangalore': (12.456, -90.81), 'london': (-13.67, -20.224)}

In [7]:
d2.pop('chennai')

KeyError: 'chennai'

In [8]:
d2

{'bangalore': (12.456, -90.81), 'london': (-13.67, -20.224)}

In [9]:
d2.popitem()

('london', (-13.67, -20.224))

In [10]:
d2

{'bangalore': (12.456, -90.81)}

In [11]:
d2

{'bangalore': (12.456, -90.81)}

In [12]:
d2

{'bangalore': (12.456, -90.81)}

In [13]:
d2.setdefault("venice", (82.33, -10.19))
d2

{'bangalore': (12.456, -90.81), 'venice': (82.33, -10.19)}

In [14]:
d2.setdefault("manhattan")

In [15]:
d2

{'bangalore': (12.456, -90.81), 'venice': (82.33, -10.19), 'manhattan': None}

In [16]:
d2.setdefault("london")

In [17]:
d2.update(bangalore=(-20.23, 42.03))
d2

{'bangalore': (-20.23, 42.03),
 'venice': (82.33, -10.19),
 'manhattan': None,
 'london': None}

In [38]:
london_coords = ("london",(-90.22, 0.00))
d2.update((london_coords,))
d2

{'manhattan': None, 'london': (-90.22, 0.0), 'bangalore': (82.33, -10.19)}

In [37]:
type((2,))

tuple

In [28]:
d2.pop('bangalore')

(-20.23, 42.03)

1. Comprehensions with dicts and sets
2. Frozenset
3. Functions
4. *args and **kwargs in Python, Tuple Unpacking
5. Lambda Expressions, Map, and Filter Functions
6. Nested Statements and Scope
7. Python Decorators, Generators, and iterators
8. Introduction and Pillars of OOPâ€™s, Attributes and Class Keyword, Class Object Attributes and Methods
9. Objects and Constructors
10. Inheritance, Polymorphism, Encapsulation and Abstraction
11. Special Methods
12. Working with Files
13. Reading and writing files, buffered read and write and other file methods
14. Logging and Debugger

__Frozenset__

Frozensets are immutable set objects. So, once a frozenset is created, it cannot be modified. All common set operations can also be performed on frozensets.

In [42]:
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])

# copying a frozenset
C = A.copy()  # Output: frozenset({1, 2, 3, 4})
print(C)

# union
print(A.union(B))  # Output: frozenset({1, 2, 3, 4, 5, 6})

# intersection
print(A.intersection(B))  # Output: frozenset({3, 4})

# difference
print(A.difference(B))  # Output: frozenset({1, 2})

frozenset({1, 2, 3, 4})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2})

In [48]:
A = frozenset([1,2,3, 4])
C = frozenset([8, 5, 6, 7])
B = frozenset([8, 5, 6, 7, 9, 10])

# isdisjoint() method
print(A.isdisjoint(C))  # Output: True

# issubset() method
print(C.issubset(B))  # Output: True

# issuperset() method
print(B.issuperset(C))  # Output: True

True
True
True

In [49]:
l1 = [i for i in range(1,10) if i%2==0]
l1

[2, 4, 6, 8]

In [61]:
#Problem1: Convert two lists into a dictionary

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
# d1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
d1 = {}
# d1 = {k:v for k,v in zip(keys, values)}
# d1
# dict(zip(keys, values))
d2 = d1.fromkeys(keys)
d2

{'Ten': None, 'Twenty': None, 'Thirty': None}

In [82]:
#Problem 2: Merge two Python dictionaries into one

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
# dict3 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

#Method1:
# temp1 = [(k,v) for k,v in dict1.items()]
# temp2 = [(k,v) for k,v in dict2.items()]
# temp3 = temp1 + temp2
# {k:v for k,v in temp3}
# dict(temp3)

#Method2:
dict3 = {**dict1, **dict2}
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [84]:
l1 = [1,2,3,4,5]
l2 = [*l1]
l2

[1, 2, 3, 4, 5]

In [65]:
list(zip(dict1, dict2))

[('Ten', 'Thirty'), ('Twenty', 'Fourty'), ('Thirty', 'Fifty')]

In [91]:
#Problem 3: Initialize dictionary with default values
fruits = ['apple', 'orange']
defaults = {"shape": 'round', "price": 500}

d3 = {}
d4 = d3.fromkeys(fruits, defaults)
d4.pop('apple')

{'shape': 'round', 'price': 500}

In [92]:
d4

{'orange': {'shape': 'round', 'price': 500}}

In [90]:
d2

{'bangalore': (12.456, -90.81),
 'london': (-13.67, -20.224),
 'chennai': (-90.42, 89.765)}

In [93]:
#Problem 4: Rename key of a dictionary
#rename bangalore to venice
d2['venice'] = d2.pop('bangalore')
d2

{'london': (-13.67, -20.224),
 'chennai': (-90.42, 89.765),
 'venice': (12.456, -90.81)}

In [95]:
#Problem 5: Change value of a key in a nested dictionary
#change salary for Brad to 9000
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

sample_dict['emp3']['salary'] = 9000
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 9000}}

In [101]:
#Problem 6: Concatenate two lists index-wise
list1 = ["M", "na", "i", "Jo"] 
list2 = ["y", "me", "s", "lly"]
list3 = [i + j for i, j in zip(list1, list2)]
" ".join(list3)

# for i,j in zip(list1, list2):
#     print(i+j)

'My name is Jolly'

In [102]:
#Problem 7: Remove empty strings from the list of strings

l = ["hello", "", "world", "is", "great"]
[i for i in l if i!=""]

['hello', 'world', 'is', 'great']

In [126]:
#Problem 8: Remove all occurrences of a specific item from a list
#Remove 20 from below list

list1 = [5, 20, 15, 20, 25, 50, 20]

#with list comprehension
# list2 = [i for i in list1 if i != 20]

#with while loop
# while 20 in list1:
#     list1.remove(20)
    
list1.remove(5)

In [127]:
list1

[20, 15, 20, 25, 50, 20]

In [105]:
#Problem 9: Check if two sets have any elements in common. If yes, display the common elements

set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
    print("Two sets have no items in common")
else:
    print("Two sets have items in common")
    print(set1.intersection(set2))

Two sets have items in common
{10}

In [33]:
#Problem 10: Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}

In [34]:
#Problem 11: Get Only unique items from two sets

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

In [108]:
#Problem 12: Access value 20 from the tuple

tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[1][1]

20

In [110]:
#Problem 13: Unpack the tuple into 4 variables
tuple1 = (10, 20, 30, 40)
a,b,c,d = tuple1
print(a,b,c,d)

10 20 30 40

In [111]:
#Problem 14: Swap two tuples in Python
tuple1 = (11, 22)
tuple2 = (99, 88)

a,b = tuple1
c,d = tuple2

tuple2 = a,b
tuple1 = c,d

print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [115]:
#Problem 15: Check if all items in the tuple are the same
tuple1 = (45, 45, 45, 45)
all(i == tuple1[0] for i in tuple1)

True

In [116]:
l = [2,4,6,8,9]

any(i%2==0 for i in l)

True

In [120]:
[i+2 for i in range(1,100) if i % 5 == 0]

[7, 12, 17, 22, 27, 32, 37, 42, 47, 52, 57, 62, 67, 72, 77, 82, 87, 92, 97]

In [124]:
l = [1,2,3,4,5,6]
result = 0

for i in range(len(l)):
    result += l[i]
result

21

In [130]:
t = sum(l)
t

21

In [134]:
def add(num1, num2):
    num3 = num1 + num2
    return num3
    
num4 = add(num1=1,num2=2) 
num4

3

In [22]:
#f = c * (9/5) + 32
temp = 30 #global

def to_fahrenheit(c_temp=37): #argument typings    
    f = c_temp * (9/5) + 32 #c_temp is local variable
    return f"Temperature in Fahrenheit: {f} which is a local variable. Global variable is temp: {temp}" 

def to_celsius(f_temp):
    c = (f_temp-32) * (5/9)
    return c, temp

NameError: name 'f' is not defined

In [26]:
user = "John" #global

def get_city(user_, city="London"):
    d = {"user": user, "city":city}
    return d

get_city(user_="Sam")

{'user': 'John', 'city': 'London'}

In [141]:
#Calculator
import math

def add(*args):
    return sum([*args])
    

def subtract(*args):
    difference = args[0] - args[1]
    return difference

def divide(*args):    
    return args[0]/args[1]/args[2]

def multiply(*args):  
    return math.prod(args)

def get_percentage(num1):
    
    return f'{round((num1/100) * 100)}%'

def get_remainder(num1, num2):
    return num1%num2

def power(base, exponent):
    return pow(base, exponent)

In [142]:
# (10,20,30)
multiply(9,2,10)

[9, 2, 10]

In [57]:
def get_sum(*args, **kwargs):
    if kwargs.get('numbers'):
        return sum(kwargs.get('numbers'))
    elif args:
        print("Found args")
        return sum(*args)

r = get_sum([10,20,30])
print(r)

Found args
60

In [143]:
def get_args(*args):
    return args

get_args(20,30,40,50,90,80,100)

(20, 30, 40, 50, 90, 80, 100)

In [145]:
def get_kwargs(**kwargs):
    return kwargs

get_kwargs(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3}

In [48]:
d = {"a":10, "b":20, "c":30}
d.update(e=40)
d

{'a': 10, 'b': 20, 'c': 30, 'e': 40}

In [54]:
d.get("e")

40

In [50]:
d.update({"c":90})
d

{'a': 10, 'b': 20, 'c': 90, 'e': 40}

In [55]:
sum([10,20,30])

60

In [85]:
l1 = [1,2,3]
l2 = [*l1]
l2

[1, 2, 3]

In [147]:
# sum(10,20,30)
sum(*(10,20,30))

TypeError: sum() takes at most 2 arguments (3 given)

In [146]:
e,f = (10,20)

In [83]:
e

10

In [84]:
f

20